<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>LazyRemote - Mouse</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
</head>
<body style="margin: 2%;">
    <h1 style="margin-bottom: 75px;">
        LazyRemote - Mouse<br><small class="lead">LazyRemote makes life lazier, easier.</small>
    </h1>
    <em><p class="lead text-center">
        Swipe to move, tap to click.
    </p></em>

    <!--
        MousePad
    -->
    <div class="container d-flex flex-column" style="padding: 4%;">
        <div id="mouse" style="height: 300px; background: lightslategray; text-align: center;"></div>
    </div>

    <!--
        Controlling:
    -->
    <div class="row" style="margin-top: 25px;">
        <div class="col">
            <p style="text-align: center;"><strong>Controlling: {{name}}</strong></p>
        </div>
    </div>


    <footer class="footer-container white-text-container text-center">
        <div class="container" style="padding-top: 10%;">
            <div class="row">
                <div class=" col col-xs-12">
                    <p>Made with <span id="heart" style="font-size: 20px; color: #e74c3c;">&hearts;</span> by Shashank Shirol</p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var myElement = document.getElementById('mouse');
        var mc = new Hammer(myElement);
        mc.get('pan').set({
            direction: Hammer.DIRECTION_ALL
        });
        old_x = 0;
        old_y = 0;
        mc.on("panleft panright panup pandown tap press", function(ev) {
            if(old_x == 0 || old_y == 0){
                old_x = ev.deltaX;
                old_y = ev.deltaY;
            }
            if(Math.abs(old_x - ev.deltaX) > 5 || Math.abs(old_y - ev.deltaY) > 5){
                $.getJSON("/{{reference}}/Mouse/action", {
                    x: ev.deltaX,
                    y: ev.deltaY,
                }, function(data) {});
                old_x = ev.deltaX;
                old_y = ev.deltaY;
            }
        });
    </script>
</body>
</html>