<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>LazyRemote</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
</head>
<body style="margin: 2%;">

    <script type=text/javascript> $(function() { $("#incVolume").click(function (event) { $.getJSON("/"+{{reference}}+'/incVolume', { },
    function(data) { }); return false; }); }); </script>
    <script type=text/javascript> $(function() { $("#decVolume").click(function (event) { $.getJSON("/"+{{reference}}+'/decVolume', { },
    function(data) { }); return false; }); }); </script>

    <script type=text/javascript> $(function() { $("#seekRight").click(function (event) { $.getJSON("/"+{{reference}}+'/seekRight', { },
    function(data) { }); return false; }); }); </script>
    <script type=text/javascript> $(function() { $("#seekLeft").click(function (event) { $.getJSON("/"+{{reference}}+'/seekLeft', { },
    function(data) { }); return false; }); }); </script>

    <script type=text/javascript> $(function() { $("#space").click(function (event) { $.getJSON("/"+{{reference}}+'/Space', { },
    function(data) { }); return false; }); }); </script>
    <script type=text/javascript> $(function() { $("#enter").click(function (event) { $.getJSON("/"+{{reference}}+'/Enter', { },
    function(data) { }); return false; }); }); </script>
    <script type=text/javascript> $(function() { $("#ctrlf4").click(function (event) { $.getJSON("/"+{{reference}}+'/CtrlF4', { },
    function(data) { }); return false; }); }); </script>

    <h1 style="margin-bottom: 75px;">
        LazyRemote<br><small class="lead">LazyRemote makes life lazier, easier.</small>
    </h1>

    <div class="container">
        <!--
            Change Volume:
        -->
        <div class="row" style="margin-top: 25px;">
            <div class="col">
                <p style="font-size: x-large; font-weight: bolder;" class="col">Volume:</p>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" id="incVolume" style="font-size: x-large; font-weight: bolder; width: 50px; margin-right: 10px;">
                    ↑
                </button>
                <button type="button" class="btn btn-primary" id="decVolume" style="font-size: x-large; font-weight: bolder; width: 50px;">
                    ↓
                </button>
            </div>
        </div>

        <!--
            Player Seek:
        -->
        <div class="row" style="margin-top: 25px;">
            <div class="col">
                <p style="font-size: x-large; font-weight: bolder;" class="col">Seek (for video players only):</p>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" id="seekLeft" style="font-size: x-large; font-weight: bolder; width: 50px; margin-right: 10px;">
                    ←
                </button>

                <button type="button" class="btn btn-primary" id="seekRight" style="font-size: x-large; font-weight: bolder; width: 50px;">
                    →
                </button>
            </div>
        </div>

        <!--
            Space bar:
        -->
        <div class="row" style="margin-top: 25px;">
            <div class="col">
                <button type="button" class="btn btn-primary" id="space" style="font-size: x-large; font-weight: bolder; width: 100%;">
                    Space
                </button>
            </div>
        </div>

        <!--
            Enter Key:
        -->
        <div class="row" style="margin-top: 25px;">
            <div class="col">
                <button type="button" class="btn btn-primary" id="enter" style="font-size: x-large; font-weight: bolder; width: 100%;">
                    Enter
                </button>
            </div>
        </div>

        <!--
            Emergency Escape:
        -->
        <div class="row" style="margin-top: 25px;">
            <div class="col">
                <button type="button" class="btn btn-danger" id="ctrlf4" style="font-size: x-large; font-weight: bolder; width: 100%;">
                    Ctrl + F4
                </button>
            </div>
        </div>
        
        <!--
            Controlling:
        -->
        <div class="row" style="margin-top: 25px;">
            <div class="col">
                <p style="text-align: center;"><strong>Controlling: {{name}}</strong></p>
            </div>
        </div>

    </div>

    <span class="mr-sm-2" style="position: fixed; left: 0; bottom: 0; text-align: center; width: 100%; margin-bottom: 5px;">
        Made with <span style="color: red;">&hearts;</span> by Shashank Shirol.
    </span>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>